body {
    user-select: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

li {
    list-style: none;
    font-size: 18px;
}

li:hover {
    color: rgb(219, 18, 18);
}

.carousel-caption h2 {
    color: white;
    margin-top: -40%;
    font-size: 30px;
}

.carousel-caption p {
    color: white;
    text-align: center;
    padding-left: 10%;
    font-size: 18px;
}


.border {
    border: 5px solid black;
    padding-left: 10%;
    padding-right: 10%;
}

.df {
    display: flex;
    justify-content: space-between;
}

span li img {
    width: 100px;
}

.card1 {
    border: 1px solid black;
    height: 130px;
    width: 100%;
    display: flex;
}

.card1:hover {
    border: 1px solid rgb(226, 73, 73);
}


/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 80%;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.column img {
    margin-top: 8px;
    width: 100%;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}




@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}