.background{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./image/background.png);
    min-height: 800px ;
}
.image{
    height: 50px;
}
.header-color:hover{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.margin-top{
    padding-top: 35%;
}
.image2{
    height: 50px;
    width: 100px;
    border-radius: 100px;
    img{
        border-radius: 100px;
    }
}
@media(max-width:992px){
    .search{
        display: none;
    }
    .button{
        display: flex;
        justify-content:space-between ;
    }
}