.imges img {
    position: absolute;
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-size: 40px;
    color: rgb(0, 204, 245);
}

.list ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 20px;
}

.button3 {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(0, 204, 245);
    border: none;
    color: white;
}

.button3:hover {
    background-color: blue;
    transition-duration: 1.5s;
}

.list ul li:hover {
    color: rgb(0, 204, 245);
    text-decoration: underline;
}

.button1 {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 204, 245);
}

.button1:hover {
    background-color: blue;
    transition-duration: 1.5s;
}

.button2 {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(0, 204, 245);
    border: none;
}

.button2:hover {
    background-color: blue;
    transition-duration: 1.5s;
}

.sectionimage {
    position: absolute;
}

.h4 {
    margin-left: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 21px;
}

.sectionimage .div {
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 22px;
}

.sectionimage h1 {
    color: white;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 70px;
}

.buttonclass {
    display: flex;
    gap: 20px;
    margin-left: 40px;
    margin-top: 50px;
}
















@media(max-width:950px) {
    .sectionimage h1 {
        font-size: 45px;
    }

    .sectionimage .div {
        font-size: 18px;
    }
}

@media(min-width:850px) {
    .navbar-icone {
        display: none;
    }
}

@media(min-width:850px) {
    .menu {
        display: none;
    }

    .nav {
        display: none;
    }
}

@media(max-width:850px) {
    .button1 {
        display: none;
    }

    .button2 {
        display: none;
    }

    .logo {
        display: none;
    }

    .list1 {
        display: none;
    }
}

@media(max-width:710px) {
    .sectionimage .div {
        font-size: 15px;
    }

    .sectionimage h1 {
        font-size: 40px;
    }
}

@media(max-width:585px) {
    .sectionimage .div {
        font-size: 12px;
    }

    .sectionimage h1 {
        font-size: 40px;
    }

    .button3 {
        font-size: 10px;
        width: 100px;
    }
}

@media(max-width:430px) {
    .sectionimage .div {
        font-size: 10px;
        margin-left: 10px;
    }

    .sectionimage h1 {
        font-size: 30px;
        margin-left: 10px;
    }

    .button3 {
        font-size: 10px;
        width: 100px;
    }

    .h4 {
        margin-left: 10px;
    }
    .buttonclass{
        margin-left: 10px;
    }
}