*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .navbar{
    height: 50px;
    list-style: none;
}

header .navbar img{
    height: 100%;
    width: 50px;
}

.line{
    border-right: 1px solid black;
    padding-right: 20px;
}