* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}

.image-background {
    height: 725px;
    position: absolute;
    width: 100%;
    top: 0;

}

.z-index ul {
    background-color: transparent;
    color: white;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 700px;
    list-style: none;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 30px;
    border: 2px solid black;
    backdrop-filter: blur(15px);
    font-size: 20px;
    border-left-color: red;
    border-top-color: aqua;
    border-right-color: red;
    border-bottom-color: aqua;
}

.z-index ul:hover {
    border-top-color: red;
    border-right-color: aqua;
    border-bottom-color: red;
    border-left-color: aqua;
    transition-duration: 2s;
}

.z-index ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;

}

.z-index {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 20px;
}


.background-image-text {
    position: absolute;
    top: 350px;
    left: 50px;
    color: white;
}

.background-image-text h3,
h1 {
    font-family: 'Courier New', Courier, monospace;
}

.background-image-text h3 {
    font-size: 15px;
    margin-left: 5px;
}

.background-image-text h1 {
    font-size: 70px;
}

.d-flex-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    background-color: rgb(245, 245, 245);
}

.results229 {
    font-size: 20px;
}

.button1 button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border-color: steelblue;
    color: steelblue;
}

.button2 button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: steelblue;
    color: white;
}

.card-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 40px;
}

.card {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-image {
    position: relative;
    height: 75%;
}

.card-header {
    z-index: 2;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

.card-image-1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    img {
        border-radius: 15px;
    }
}

.card-header-button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button-card button{
    color: white;
    background-color: transparent;
    backdrop-filter: blur(15px);
    width: 100px;
    height: 25px;
    border-radius: 5px;
}


.card-header i{
    font-size: 20px;
}

.card-text{
    position: absolute;
    top: 225px;
    left: 20px;
}
.card-text h2{
    font-family: cursive;
}
.card-text h5{
    margin-top: 5px;
    font-size: 15px;
    font-style: oblique;
    color: rgb(145, 141, 141);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}