* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.image-logo {
    height: 50px;
    width: 200px;
    margin-left: 50px;
}

.nav-ul {
    margin-right: 50px;
}

.nav-ul ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav-ul li button {
    width: 150px;
    height: 40px;
    color: white;
    background-color: blue;
    border: none;
}

.background-image {
    border: none;
    height: 1000px;
    width: 100%;
    margin-top: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image h2 {
    color: rgb(138, 135, 135);
    font-family: 'Times New Roman', Times, serif;
}

.background-image h3 {
    color: rgb(138, 135, 135);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.With-E-Learn {
    color: black;
    text-align: center;
    margin-top: 50px;
}

.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-top: 50px;
}

.card1 h3{
    border: 2px solid black;
    width: 300px;
    height: 200px;
    background-color: white;
}
















































@media(max-width:800px) {
    .image-logo {
        margin-left: 20px;
        width: 150px;
    }

    .nav-ul {
        margin-right: 20px;
        font-size: 12px;
    }

    .nav-ul li button {
        width: 100px;
        height: 30px;
    }
}

@media(max-width:550px) {
    .nav {
        height: 20;
    }

    .nav-ul {
        font-size: 10px;
    }
}

@media(max-width:500px) {
    .hidden {
        display: none;
    }
}