.d-flex {
    display: flex;
    justify-content: space-between;
}

.imageslogo {
    width: 200px;
    height: 50px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.hover {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.hover:hover {
    color: red;
}

.d-flex1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.icone {
    color: black;
}

.icone:hover {
    color: red;
}

.button {
    width: 300px;
    height: 30px;
    color: white;
    background-color: rgba(255, 0, 0, 0.616);
    border-radius: 50px;
    border: none;
}

.button:hover {
    color: black;
}


/*----------section----------*/
.box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    color: black;
    font-size: 80px;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box span {
    position: absolute;
    opacity: 0;
    animation: slide 9s infinite;
}

.box span:nth-child(1) {
    animation-delay: 0s;
}

.box span:nth-child(2) {
    animation-delay: 3s;
}

.box span:nth-child(3) {
    animation-delay: 6s;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    10% {
        opacity: 1;
        transform: translateX(0);
    }

    30% {
        opacity: 1;
        transform: translateX(0);
    }

    40% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.images1 {
    position: absolute;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundcolor {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 94, 58, 1) 0%, rgba(255, 149, 58, 1) 50%, rgba(255, 199, 58, 1) 100%);
}
.backgroundcolor h1{
    color: white;
    text-align: center;
    padding-top: 40px;
}
.card1{
    border: 1px solid black;
    width: 250px;
    height: 400px;
    background-color: red;
}
.card2{
    border: 1px solid black;
    width: 350px;
    height: 450px;
    background-color: red;
}
.box1{
    border: 7px solid white;
    width: 100%;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(17, 16, 16);

    img{
        width: 180px;
        height: 200px;
        margin-top: 20px;
        margin-left: 30px;
    }
}
.box1:hover{
    background-color: white;
}




@media(max-width:1135px) {
    .d-flex1 {
        gap: 20px;
    }
}

@media(max-width:1050px) {
    .button {
        width: 200px;
    }

    .images1 {
        margin-top: 50px;
    }
}

@media(max-width:950px) {
    .list {
        font-size: 12px;
        gap: 15px;
        padding-top: 10px;
    }

    .d-flex1 {
        gap: 10px;
    }

    .button {
        font-size: 12px;
        width: 150px;
    }
}

@media(max-width:850px) {
    .list {
        font-size: 10px;
        gap: 15px;
    }

    .d-flex1 {
        gap: 5px;
    }

    .button {
        font-size: 8px;
        width: 100px;
    }
}

@media(max-width:780px) {
    .list {
        display: none;
    }

    .d-flex1 {
        display: none;
    }

    .dnone {
        display: none;
    }
}

@media(min-width:780px) {
    .d-block1 {
        display: none;
    }
}

@media(max-width:570px) {
    .box span {
        font-size: 30px;
    }

    .box {
        height: 300px;
    }
}

@media(max-width:370px) {
    .box span {
        font-size: 30px;
    }

    .box {
        height: 200px;
    }
}